<div class="container">
    <h1 class="title">Questão 4</h1>
    <div class="boxquestion">
        <h2 class="subtitle">
            Dois veículos (um carro e um caminhão) saem respectivamente de cidades opostas pela mesma rodovia. O carro
            de Ribeirão Preto em direção a Franca, a uma velocidade constante de 110 km/h e o caminhão de Franca em
            direção a Ribeirão Preto a uma velocidade constante de 80 km/h. Quando eles se cruzarem na rodovia, qual
            estará mais próximo a cidade de Ribeirão Preto?
            a) Considerar a distância de 100km entre a cidade de Ribeirão Preto <-> Franca.
                b) Considerar 2 pedágios como obstáculo e que o caminhão leva 5 minutos a mais para passar em cada um
                deles e o carro possui tag de pedágio (Sem Parar).
                c) Explique como chegou no resultado.
        </h2>
    </div>
    <div class="boxquestion">
        <h3 class="an-text">
            Quando os veículos se cruzam eles estão em uma mesma localidade, estando portanto em uma mesma distância de
            um
            determinado ponto. Logo a resposta é - ao se cruzarem na rodovia os veículos estão em uma mesma distância de
            Ribeirão Preto. A questão
            pode parecer dificil ao induzir o
            candidato a pensar que existe um cálculo a ser feito, contudo visualizando a questão graficamente fica claro
            o desafio colocado.<br>
            Aqui segue um esquema que demonstra como isso pode ser entendido. Perceba que não importa a velocidade dos
            veículos nem o tempo nem a distância, pois se eles estão em uma mesma localidade, independente de qual KM for, a distancia dos dois pra
            determinado ponto é a mesma.
        </h3>
        <img src="/assets/diagrama.jpg">
    </div>
</div>