<div class="container">
    <h1 class="title">
        Sobre Mim
    </h1>
    <div class="aboutbox">
        <div class="abouttext">
            <h3 class="an-text">
            Tendo formação na área Industrial e na área Jurídica pude finalmente encontrar minha paixão na área de
            Tecnologia da Informação principalmente na programação.<br>
            Após anos de estudo compreendendo processos, gestão de tecnologia, de pessoas e arquivos, me vi cada vez
            mais instigado em procurar soluções tecnológicas que pudessem promover mais eficiência e organização para
            empresas, profissionais e na experiência do usuário e clientes.<br>
            Sou apaixonado por ligar o computador e ter um portal de infinitas possibilidades, por deixar a criatividade
            trabalhar e resolver desafios instigantes, estruturar a tecnologia nos mais diversos serviços, solucionar
            problemas e tornar sistemas mais acessíveis para todas as pessoas.<br>
            Através da experiência como estudante e profissional em áreas de longo e complexo conhecimento possuo
            capacidade auto didática e muita disciplina, sendo apaixonado pela busca de alta performance em estudos,
            organização e desenvolvimento pessoal.<br>
            Atualmente sigo me capacitando com muito estudo e prática em Html,Css,Javascript e React Typescript também
            tendo estudado Java e Angular. Tenho como meta me consolidar como full-stack e ser um profissional de
            excelência na parte técnica e em people skills.<br>
            </h3>
        </div>
        <div class="images">
            <img id="mypic" src="assets\220054762_741580360446397_6681293912965586520_n.jpg">
            <div class="minorimages">
                <a href="https://www.linkedin.com/in/rodrigo-baptista-76299262/"><img src="assets\174857.png" width="50px"></a>
                <a href="https://github.com/RodrigoBaptistaDEV"><img src="assets\5968866.png" width="50px"></a>
                <a href="mailto:digodrigodev@gmail.com"><img src="assets\281769.png" height="50px"></a>
                
            </div>
        </div>
    </div>
</div>
