<div class="container">
    <h1 class="title"> Questão 2</h1>
    <h2 class="subtitle">Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores
        anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde,
        informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado
        pertence ou não a sequência. IMPORTANTE: Esse número pode ser informado através de qualquer entrada de sua
        preferência ou pode ser previamente definido no código.
    </h2>
    <p>nas imagens mostro o código implementado e logo abaixo o funcionamento</p>
    <div class="imagestatic">
        <img [src]="imageUrl" alt="Imagem" [ngStyle]="getImageStyle()" />
    </div>
    <button  id="butchange" (click)="changeImage()">Trocar Imagem</button>
    <form>
        <label for="userInput">Digite um número:</label>
        <input type="number" id="userInput" name="userInput" [(ngModel)]="numInput">
        <button (click)="verifyFibo()" class="but2">Verificar</button>
    </form>

    <p [ngClass]="{'fibonacci': serFibo, 'not-fibonacci': !serFibo}">
        {{ serFibo ? 'O número ' + numInput + ' pertence à sequência de Fibonacci!' : 'O número ' + numInput + '
        não pertence à sequência de Fibonacci.' }}
    </p>
</div>