<section class="banner">
    <app-header></app-header>
</section>

<section class="section-white">
    <app-question1></app-question1>
</section>

<section class="section-green">
    <app-question2></app-question2>
</section>

<section class="section-blue">
    <app-question3></app-question3>
</section>

<section class="section-green">
    <app-question4></app-question4>
</section>

<section class="section-white">
    <app-question5></app-question5>
</section>

<section class="section-green">
    <app-questionfinal></app-questionfinal>
</section>
<footer>
    <p>code by RodrigoCBaptista</p>
</footer>
